<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheets" href="homes.scss"  />
    <title>Bookers</title>
  </head>
  <body>
    <header>
      <h1>Books</h1>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      </table>
    </header>
  </body>
</html>

